body {
  font-family: Arial, Helvetica, sans-serif;
}

.form1 {
  display: flex;
  justify-content: center;
}

input {
  margin-bottom: 15px;
  outline: 0;
  background: #f2f2f2;
  width: 150px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  height: 50px;
}

button {
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  width: 150px;
  height: 50px;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

table {
  background-color: rgb(255, 236, 213);
  margin: auto;
}

th {
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
}

td {
  padding: 20px;
}
